/Constants.class
/ContextAccessController.class
/ContextBindings.class
/EjbRef.class
/HandlerRef.class
/JndiPermission.class
/NameParserImpl.class
/NamingContext.class
/NamingContextBindingsEnumeration.class
/NamingContextEnumeration.class
/NamingEntry.class
/ResourceEnvRef.class
/ResourceLinkRef.class
/ResourceRef.class
/SelectorContext.class
/ServiceRef.class
/StringManager.class
/TransactionRef.class
